<section class="corse-component-bg bg-info">
    <div class="container">
        <div class="row announcement-mid">
            <div class="col-12">
                <form class="start-course mx-auto">
                    <input type="button" class="btn bg-transporant" value="Admin" (click)="goToAdmin()">
                </form>
            </div>
            <div class="col-12">
                <form class="start-course mx-auto">
                    <input type="button" class="btn bg-transporant" value="Create Announcement" (click)="goToCreateAnnouncement()">
                </form>
            </div>
            <div class="col-12">
                <form class="start-course mx-auto">
                    <input type="button" class="btn bg-transporant" value="Announcement List" (click)="goToAnnouncementList()">
                </form>
            </div>
        </div>
    </div>
</section>